services:
  nginx:
    image: nginx:alpine
    container_name: lab6-nginx
    ports:
      - '8080:80'
    volumes:
      - ./www:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - lab-network

  php:
    build: .
    container_name: lab6-php
    volumes:
      - ./www:/var/www/html
    networks:
      - lab-network

  db:
    image: mysql:8.0
    container_name: lab6-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: hackathon_db
      MYSQL_USER: hackathon_user
      MYSQL_PASSWORD: hackathon_pass
    ports:
      - '3307:3306'
    networks:
      - lab-network

  redis:
    image: redis:7-alpine
    container_name: lab6-redis
    ports:
      - '6379:6379'
    networks:
      - lab-network

  adminer:
    image: adminer:latest
    container_name: lab6-adminer
    ports:
      - '8081:8080'
    networks:
      - lab-network

networks:
  lab-network:
    driver: bridge
